<mat-card class="card" appearance="outlined">
  <mat-card-header class="card__header">
    <img mat-card-avatar class="card__avatar" [src]="getSelectedCharacter()?.image" alt="Photo of the character">
    <section class="card__title-section">
        <h1 class="card__title">{{getSelectedCharacter()?.name}}</h1>
        <app-chips [class]="statusClass()" [label]="getSelectedCharacter()?.status"/>
    </section>
  </mat-card-header>
  <app-divider />
  <mat-card-content class="card__detail">
    <section class="card__detail-section">
        <section class="card__info">
            <app-label [label]="labels.specie"/>
            <app-chips [label]="getSelectedCharacter()?.species"/>
        </section>
        <section class="card__info">
            <app-label [label]="labels.gender"/>
            <app-chips [label]="getSelectedCharacter()?.gender"/>
        </section>
        <section class="card__info">
            <app-label [label]="labels.origin"/>
            <app-chips [label]="getSelectedCharacter()?.origin?.name"/>
        </section>
        <section class="card__info">
            <app-label [label]="labels.location"/>
            <app-chips [label]="getSelectedCharacter()?.location?.name" [isClickeble]="true" (click)="selectLocation()" />
        </section>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <button matButton>LIKE</button>
    <button matButton>SHARE</button>
  </mat-card-actions>
</mat-card>
