.card {
    width: fit-content;
    margin: auto;
    gap: 1rem;

    &__header {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__detail {
        display: flex;
        gap: 2rem;
    }

    &__detail-section {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__title-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    &__subtitle {
        color: var(--text);
        font-weight: 400;
    }

    &__avatar {
        width: 150px;
        height: 150px;
        background-image: url('/assets/img/morty-smith.svg');
        background-size: cover;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
}


.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}