<mat-table [dataSource]="rows()" class="table">
  @for (col of displayedColumns(); track $index) {
    <ng-container [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef>{{ col }}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element ? element[col] : '' }}</mat-cell>
    </ng-container>
  }
  <mat-header-row *matHeaderRowDef="displayedColumns()"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns();"
    class="row--clickable"
    tabindex="0"
    role="button"
    (click)="onClick(row)"
    (keydown.enter)="onClick(row)"
    (keydown.space)="onClick(row)"
    [attr.aria-label]="'Abrir detalle de ' + (row?.name ?? '')"
  ></mat-row>

  <tr *matNoDataRow>
    <td [attr.colspan]="displayedColumns().length">
      <p class="table__no-data">{{emptyDataMessage()}}</p>      
    </td>
  </tr>
</mat-table>

@if (hasPagination()) {
  <mat-paginator
    [length]="length()"
    [pageIndex]="pageIndex()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="pageSizeOptions()"
    showFirstLastButtons
    [attr.aria-label]="paginationAriaLabel()"
    (page)="onPage($event)">
  </mat-paginator>
}
