.field {
    height: 3.5rem;

     &__clear {
      cursor: pointer;
      &.visible {
        opacity: 1;
        transition: opacity 0.5s ease;
      }
      &.hidden {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;
      }
    }
}
