<app-search-table
    [formField]="form.controls[formNames.dimension]"
    [optionsToSearch]="optionsToSearch()"
    idInput="dimensionSeachField"
    nameInput="dimension"
    [labelInput]="labels.labelInputField"
    [placeholderInput]="labels.placeholderInputField"
    idBtn="dimensionSearchBtn"
    [labelBtn]="labels.labelSearchBtn"
    [disabledBtn]="disableSearchBtn()"

    [displayedColumns]="displayedColumns"
    [data]="charactersData()"
    [pageIndex]="pageIndex()"
    [pageLength]="pageLength()"
    [pageSize]="pageSize()"
    [emptyDataMessage]="emptyDataMessage()"
    [isLoading]="isLoading()"

    (onEnter)="search()"
    (onClick)="search()"
    (onPage)="onPage($event)"
    (onRowClick)="onRowClick($event)"
/>
