:host {
    display: flex;
    flex-direction: column;
    background: var(--background);
    height: inherit;
}

.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
    height: inherit;
}
