$primary: #595996;
$secondary: #FDBE10;
$accent: #009CDB;
$success: #00A846;
$alert: #CD1041;
$inactive: #7F7F7F;
$light-grey: #EFEEEE;
$grey: #B5B1B1;
$dark-grey: #36323A;
$orange: #F4783D;
$black: #000000;
$link: #3f51b5;
