@use '@angular/material' as mat;

$my-theme: mat.define-theme((
  color: (
    theme-type: dark,                 // or 'ligth'
    primary:   mat.$blue-palette,      // “primary”
    tertiary:  mat.$rose-palette,      // “tertiary”
  ),
));

:root {
  @include mat.all-component-themes($my-theme);
}
